# Homebrew Luciferous Tap

Personal Homebrew tap for my tools

## Installation

```bash
brew tap {{ tap_name }}
```
{% if all_casks|length > 0 %}

## Available Casks
{% endif %}
{% for cask in all_casks %}

### {{ cask.display_name if cask.display_name else cask.name }}

{{ cask.description }}

```bash
brew install --cask {{ cask.name }}
```
{% endfor %}
{% if all_formulas|length > 0 %}

## Available Formulas
{% endif %}
{% for formula in all_formulas %}

### {{ formula.display_name if formula.display_name else formula.name }}

{{ formula.description }}

```bash
brew install {{ formula.name }}
```
{% endfor %}

## Updating

```bash
brew update
brew upgrade <formula>
```

## Uninstalling

```bash
brew uninstall <formula>
brew untap {{ tap_name }}
```